@prefix-name: ~'st';

@primary-color: #409eff;
@primary-color-hover: #355bca36;
@warning-color: #e6a23c;
@danger-color: #f56c6c;
@default-color: #909399;
@success-color: #67c23a;
@gray-bg-color: #f5f5f9;
@gray-border-color: #e8e8e8;

@disabled-bg-color: #f5f5f5;
@disabled-font-color: rgba(0, 0, 0, 0.2);
@disabled-border-color: #d9d9d9;

@active-bg-color: rgba(0, 0, 0, 0.2);
@hover-close-color: #000;

@shadow-color: rgba(0, 0, 0, 0.17);
@mask-bg-color: rgba(0, 0, 0, 0.45);

@message-zIndex: 1024;
@modal-zIndex: 1000;
